<div class="col-md-12" align = "center">
<p class="card-header">
  Choose your category
</p>
</div>
<!-- todo: Create card components -->

<div class="col-md-12">
  <mat-form-field>
    <input matInput placeholder="Name" />
    <!-- <input matInput placeholder="Address"/> -->
  </mat-form-field>
</div>
<!-- <mat-form-field>
  <input matInput placeholder="Address"/>
</mat-form-field> -->
<div class="col-md-12 card-container " align="center">
  <div class="card-style col-md-offset-3 col-md-5">
    <img class="card-pic" src="../assets/citi-credit-card.jpg">
    <p class="text-card">Random Name</p>
  </div>

</div>


<p class="col-md-offset-3 col-md-4">Customize</p>

<div>

  <p>Plastic</p>
</div>

<div class="col-md-12">

  <p>Metal</p>
</div>
