<div class="col-md-12" align="center">
  <p class="card-header">
    Choose your category
  </p>
</div>


<div class="col-md-5 col-md-offset-3 category">
  <div class="col-md-4" (click)="disneyClick()" align="center">
    <p class="categoryTitle">Disney</p>
    <img src="../assets/disney/disney_2.png" class="col-md-12">
  </div>
  <div class="col-md-4" (click)="nflClick()" align="center">
    <p class="categoryTitle">NFL</p>
    <img src="../assets/nfl/nfl_3.png" class="col-md-12">
  </div>
  <div class="col-md-4" (click)="umdClick()" align="center">
    <p class="categoryTitle">UMG</p>
    <img src="../assets/umg/umg_3.png" class="col-md-12">
  </div>
</div>
<!-- todo: Create card components -->


<!-- <mat-form-field>
  <input matInput placeholder="Address"/>
</mat-form-field> -->
<!-- <div class="col-md-12" align="center">
  <div class="card-style col-md-offset-3 col-md-5">
    <img class="card-pic" [src]="pictureSrc">
    <p class="text-card">Random Name</p>
  </div>
</div> -->

<div class="col-md-12 card-container" align = "center">
    <div id="f1_container">
      <div id="f1_card" class="shadow">
        <div class="front face">
          <img class="card-pic" [src]="pictureSrc">
          <p class="text-card">Random Name</p>
        </div>
        <div class="back face center">
            <img class="card-pic" [src]="selectedCard">
            <p class="text-card">Random Name</p>
        </div>
      </div>
    </div>
  </div>



<div *ngIf="isDisney || isNfl || isUmd" class="col-md-12" style="font-size: 30px;
margin-bottom: 20px;
left: -58px;
color: #3f51b5;" align='center'>
  You can always change your image
</div>

<div *ngIf="isDisney" class="col-md-5 col-md-offset-3">
  <carousel [noWrap]="noWrapSlides" [showIndicators]="false">
    <slide>
      <div>
        <img class="col-md-4" *ngFor="let picture of disneyPictures; let i = index " [src]="picture" value="index" (click)="pictureSelect('disney', i)">
      </div>
    </slide>
    <slide>
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
    </slide>
    <slide>
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
    </slide>
  </carousel>
</div>

<div *ngIf="isNfl" class="col-md-5 col-md-offset-3">
  <carousel [noWrap]="noWrapSlides" [showIndicators]="false">
    <slide>
      <div>
        <img class="col-md-4" *ngFor="let picture of nflPictures; let i = index " [src]="picture" value="index" (click)="pictureSelect('nfl', i)">
      </div>
    </slide>
    <slide>
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">

    </slide>
    <slide>
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
    </slide>
  </carousel>
</div>

<div *ngIf="isUmd" class="col-md-5 col-md-offset-3">
  <carousel [noWrap]="noWrapSlides" [showIndicators]="false">
    <slide>
      <div>
        <div>
          <img class="col-md-4" *ngFor="let picture of umgPictures; let i = index " [src]="picture" value="index" (click)="pictureSelect('umg', i)">
        </div>
      </div>
    </slide>
    <slide>
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">

    </slide>
    <slide>
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
      <img class="col-md-4" src="../assets/citi-credit-card.jpg" (click)="pictureSelect('noCard', i)">
    </slide>
  </carousel>
</div>


<div class="col-md-12" align="center">
  <button mat-flat-button color="primary" style="width: 132px;
    position: relative;
  left: -56px;
  margin-top: 30px;
  margin-bottom: 40px"
  (click) = "onSelect()">Select card</button>
</div>




<!-- <div class="col-md-12 card-container" align="center">
    <div class="card-style col-md-offset-3 col-md-5 front face">
      <img class="card-pic" [src]="pictureSrc">
      <p class="text-card">Random Name</p>
    </div>
    <div class="card-style col-md-offset-3 col-md-5 back face center">
        <img class="card-pic" [src]="regularCard">
        <p class="text-card">Random Name</p>
      </div>
  </div> -->
